# === Python ===
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/

# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Tailwind / Build ===
*.css
*.map

# === VS Code ===
.vscode/

# === OS Files ===
.DS_Store
Thumbs.db

# === Env Files ===
.env
